<h2>Products</h2>

<form action="/Home/Category" method="get" id="category" class="option">
    <span>Category</span>
    <select id="categoryName" class="form-control" name="categoryName" onchange="$('#category').submit()">
            <option> * -- Select Category -- *</option>
            <option value="">All</option>
            <option value="Mens Clothing">Mens Clothing</option>
            <option value="Womens Clothingg">Womens Clothing</option>
            <option value="Accessories">Accessories</option>
        </select>
</form>